/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$primary: #384f8e;
$light-primary: #c8d3e6;
$background: white;
$primary-text: black;

.bg-main {
  background-color: $primary !important;
  color: $background !important;
}

.bg-light {
  background-color: $light-primary !important;
}

.accent {
  background-color: #ffc107 !important;
  color: $primary-text !important;
}

.accent:disabled {
  background-color: lightgrey !important;
}
